
  .chat-group-form__field{
    .chat-group-form__field--left{
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      .chat-group-from__label{
        display: block;
        line-height: 50px;
        font-weight: bold;
        text-align: right;
      }
    }
    .chat-group-form__field--right{
      float: right;
      width: 70%;
      line-height: 50px;
      .chat_group_name{
        height: 50px;
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
      }
    }
  }

  .chat-group-form__field{
    .chat-group-form__field--left{
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    .chat-group-form__search{
      float: right;
      width: 70%;
    }
  }

  .chat-group-form__field{
    margin-top: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .chat-menber-left{
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      .chat-menber{
        display: block;
        line-height: 50px;
        font-weight: bold;
        text-align: right;
      }
    }
    .chat-group-menber{
      float: right;
      width: 70%;
    }
  }

  .chat-group-form__field{
    .chat-group-form__menber--right{
      float: right;
      width: 70%;
      .chat-group-from__action-btn{
        display: inline-block;
        padding: 12px 20px;
        color: #fff;
        background-color: #38aef0;
        border: 0;
      }
    }
  }
